<%- include('_header.ejs') -%>

<div class="align-horizontal">
    <img class="logo" src="img/logo.png" alt="model collapse logo" />
    <h1><%= data.title %></h1>
</div>

<ul>
<% for (const name of Object.keys(posts).reverse()) { const {date, title, body} = posts[name]; -%>
    <li>
        <time class="dim" datetime="<%= date.toISOString().slice(0, 10) %>"><%= date.toISOString().slice(0, 10) %></time>
        <h2 class="v-align-middle"><a href="posts/<%= name %>.html"><%= title %></a></h2>
        <p><%- body.trim().match(/\<p>(.+)<\/p>/)[1] %> [&hellip;] <span class="dim">&#9655;</span></p>
        <hr>
    </li> 
<% } -%>
</ul>

<%- include('_footer.ejs') -%>
