<%- include('../_header.ejs') -%>

<nav class="align-horizontal" role="navigation">
   <span class="dim">&#x25C0;</span>
    <!-- <img class="logo" src="../img/logo.png" alt="model collapse logo" />     -->
    <a href="../index.html"> <%= root.data.title %></a>
</nav>

<article>
    <header>
        <h1><%= title %></h1>
        <time><%= date.toDateString() %></time>
    </header>
<%- body %>

<%- include('../_footer.ejs') -%>
</article>