<%- include('../_header.ejs') -%>

<nav class="header" role="navigation">
   <span class="dim">&#x25C0;</span>
    <!-- <img class="logo" src="../img/logo.png" alt="model collapse logo" />     -->
    <a href="../index.html"> <%= root.data.title %></a>
</nav>

<article>
<h1><%= title %></h1>
<%- body %>
<p class="dim">Posted on <time><%= date.toDateString() %></time>.</p>

<%- include('../_footer.ejs') -%>
</article>